header {
    position: sticky;
    top: 9px;
    margin: 9px 9px 14px;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(var(--objects-color-rgb), 0.75);
    border-radius: 14px;
    padding: 12px 3%;
    transition: all 0.7s;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.active-tab {
    color: rgb(var(--brand-orange-rgb), 1);
    background: rgb(var(--brand-orange-rgb), 0.25);

    &:hover {
        background: rgba(var(--brand-orange-rgb), 0.17) !important;
    }
}

#nav-links {
    display: flex;
    gap: 5px;
    ////font-family: "Unbounded", sans-serif;
    //font-family: "Nunito", sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    li {
        list-style-type: none;
    }

    a {
        font-weight: 400;
        font-size: 17px;
        text-decoration: none;
        transition: var(--transition);
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
            background: rgba(var(--brand-red-rgb), 0.25);
        }
    }
}

#header-buttons {
    display: flex;
    gap: 10px;
}

#adap-site-header {
    display: none;
}

#burger-button {
    display: none;
    border-radius: 10px !important;
    border: 2px solid white;
    color: var(--text-color);
    background: transparent;
    margin-right: 6px;

    span {
        padding-top: 5px;
        padding-right: 8px;
        padding-left: 8px;
    }
}

.lang-menu {
    cursor: pointer;
    font-family: "Unbounded", sans-serif;
}

.lang-menu-langs {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(var(--brand-dark-red-rgb));
    border-radius: 15px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    margin-top: 5px;
}

.lang-menu-title {
    list-style: none;
    border-radius: 10px;
    background: rgb(var(--brand-red-rgb));
    padding: 5px 12px;
}

.lang-menu-btn {
    outline: none;
    border: none;
    background: transparent;
    padding: 3px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background: rgb(var(--brand-orange-rgb));
    }
}

.ip-button {
    padding: 5px 13px;
    border-radius: 8px;
    border: 0px solid transparent;
    background: linear-gradient(145deg, rgb(var(--brand-red-rgb)), rgb(var(--brand-orange-rgb)));
    cursor: pointer;

    & #ip {
        font-family: "Unbounded", sans-serif;
    }
}

@media (max-width: 767px) {
    #burger-button { display: block; }
    #nav-bar { display: none; }
    header { padding: 10px 1%; }
    .lang-menu-title { padding: 8px 12px }
    .ip-button #server-ip { display: none; }

    #adap-site-header {
        position: absolute;
        top: 75px;
        background-color: rgba(27, 24, 24, 0.7);
        border: 1px solid var(--border-color);
        border-radius: 14px;
        filter: var(--default-shadow);
        width: 98%;
        padding: 10px;
        backdrop-filter: blur(var(--blur));
        -webkit-backdrop-filter: blur(var(--blur));
        z-index: 200;

        &.active-header {
            display: block;
        }
    }

    #adap-nav-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: "Unbounded", sans-serif;
        gap: 10px;

        a {
            font-size: 19px;
            width: 100%;
            list-style-type: none;
            padding: 5px 10px;
            border-radius: 14px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                color: var(--skylight-blue);
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 575px) {
}