.transparent_button {
    padding: 8px 12px !important;
    border: 2px solid rgb(var(--brand-red-rgb));
    background: transparent;
    border-radius: 12px;
    transition: var(--transition);
    outline: none;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        border: 2px solid rgba(var(--brand-red-rgb), 0.6);
    }
}

.red_button {
    padding: 8px 12px !important;
    border: 2px solid rgb(var(--brand-red-rgb));
    background: rgba(var(--brand-red-rgb), 0.25);
    border-radius: 12px;
    transition: var(--transition);
    outline: none;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        border: 2px solid rgba(var(--brand-red-rgb), 0.6);
        background: rgba(var(--brand-red-rgb), 0.1);
    }
}

.orange_button {
    padding: 8px 12px !important;
    border-radius: 12px;
    background: rgb(var(--brand-orange-rgb));
    transition: var(--transition);
    outline: none;
    border: 1px solid transparent;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background: rgba(var(--brand-orange-rgb), 0.75);
        box-shadow: 0 0 8px rgba(var(--brand-orange-rgb), 0.75);
    }
}

.url {

}

.close-modal-btn {
    background: transparent;
    border: none;
    position: absolute;
    transform: translateX(-35%) translateY(-35%);
    cursor: pointer;
}

.close-modal-btn-icon {
    padding: 7px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    transition: color 0.4s;

    &:hover {
        color: rgb(var(--brand-red-rgb));
    }
}

.no-display {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.stat-info {
    border-radius: 10px !important;
    border: 2px solid rgba(var(--brand-red-rgb), 1);
    overflow: hidden;
    padding: .4rem .4rem 0;
    background: linear-gradient(135deg, rgb(var(--brand-red-rgb), 0.35), rgb(var(--brand-dark-red-rgb), 0.35));
    z-index: 110;

    summary {
        background: linear-gradient(90deg, rgb(var(--brand-red-rgb), 1), rgb(var(--brand-dark-red-rgb), 0.5), rgb(var(--brand-red-rgb), 1));
        color: white;
        font-size: 18px;
        margin: -.4rem -.4rem 0;
        padding: .4rem .7rem;
        border-radius: 0 !important;
        transition: background-color 0.5s;
        cursor: pointer;

        &:hover {
            background-color: rgba(var(--brand-dark-red-rgb), 1);
        }
    }
}
.stat-info[open] {
    padding: 0.4rem;

    summary {
        margin-bottom: 8px;
    }
}

$bg-img-border-radius: 20px;

.blured-img {
    position: relative;
    margin-bottom: 20px;
}

.base-image {
    position: relative;
    width: 100%;
    border-radius: $bg-img-border-radius;
    z-index: 5;
}

.image-blured {
    width: 100%;
    position: absolute;
    filter: blur(50px);
    border-radius: $bg-img-border-radius;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
}


@media (max-width: 767px) {
    .stat-info summary {
        font-size: 15px;
    }
}