:root {
    --telegram-color: #00aeed;
    --vk-color: #0077ff;
    --youtube-color: #ff0000;
    --discord-color: 88, 101, 242;
    --donation-alerts-color: 245, 125, 7;
    --text-color: #fff;
    --site-bg-rgb: 18, 14, 15;
    --objects-color-rgb: 27, 24, 24;
    --brand-orange-rgb: 249, 108, 0;
    --brand-yellow-rgb: 255, 231, 30;
    --brand-red-rgb: 227, 0, 27;
    --brand-dark-red-rgb: 155, 3, 28;
    --skylight-blue-rgb: 54, 54, 225;
    --purple-rgb: 106, 33, 239;

    --blur: 7px;
    --transition: all 0.5s;
}