:root {
    --telegram-color: #00aeed;
    --vk-color: #0077ff;
    --youtube-color: #ff0000;
    --discord-color: 88, 101, 242;
    --donation-alerts-color: 245, 125, 7;
    --text-color: #fff;
    --site-bg-rgb: 18, 14, 15;
    --objects-color-rgb: 27, 24, 24;
    --brand-orange-rgb: 255, 136, 0;
    --brand-pale-orange-rgb: 255, 159, 55;
    --brand-red-rgb: 179, 10, 10;
    --brand-pale-red-rgb: 255, 51, 51;
    --skylight-blue-rgb: 54, 54, 225;

    --blur: 7px;
    --transition: all 0.5s;
}